.sidebar {
  background-color: #0f141f;
  /* color: #fff; */
  padding: 14px;
}

.global{
    background: radial-gradient(75.47% 75.47% at 50% 0%, #598BFC 0%, #1A55DB 100%);
    padding: 5px 8px;
    border-radius: 10px;
    color: #fff;
}